<div class="columnC">
  <a href="#" *ngFor="let data of cardData" class="cardrow" [ngClass]="{'selectedCard':isChecked(data)}" [ngClass]="{'notselectedCard':isChecked(data)}">
    <div *ngIf="data.type=='Models'">
      <div class="card">
        <b>
          <input type="checkbox" (click)="checkedCard(data)" class="checkboxStyle" name="checkbox">
        </b>
        <b>
          <div class="dropdown dropdownStyle">
            <a>
              <i class="fa fa-ellipsis-v iconStyle"></i>
            </a>
            <div class="dropdown-content">
              <a href="#">Move To</a>
              <a href="#">Rename</a>
              <a href="#">Remove</a>
            </div>
          </div>
        </b>
        <div class="container">
          <h5 class="cardApercentage">
            <span>
              {{data.accuracy}}
            </span>
            <span>
              <br>Accuracy
            </span>
          </h5>
          <h5 class="cardAModel">
            <span>
              {{data.name}}
            </span>
            <br>InterValues
          </h5>
          <p class="cardAFooter">
            Last Modified
            <br>{{data.footer}}
          </p>
        </div>
      </div>
    </div>
    <div *ngIf="data.type=='Folder'">
      <div class="card cardBStyle" (click)="sendfolderName(data.name)">
        <div class="container">
          <h4 class="cardBTitleStyle">
            <i class="material-icons">&#xe2c7;</i>
            {{data.name}}
          </h4>
          <p class="cardBFooterStyle">
            {{calculatefooter(data)}}
          </p>
        </div>
      </div>
    </div>
  </a>
</div>