<div class="columnC">
  <a href="#" *ngFor="let data of cardData" class="cardrow" [ngClass]="{'selectedCard':isChecked(data)}" [ngClass]="{'notselectedCard':isChecked(data)}">
    <div *ngIf="data.link1">
      <div class="card">
        <b>
          <input type="checkbox" (click)="checkedCard(data)" class="checkboxStyle" name="checkbox">
        </b>
        <b>
          <div class="dropdown dropdownStyle">
            <a>
              <i class="fa fa-ellipsis-v iconStyle"></i>
            </a>
            <div class="dropdown-content">
              <a href="#">{{data.link1}}</a>
              <a href="#">{{data.link2}}</a>
              <a href="#">{{data.link3}}</a>
            </div>
          </div>
        </b>
        <div class="container">
          <h5 class="cardApercentage">
            <span>
              {{data.percentage}}
            </span>
            <span>
              <br>{{data.accuracy}}
            </span>
          </h5>
          <h5 class="cardAModel">
            <span>
              {{data.Model}}
            </span>
            <br> {{data.InterValues}}
          </h5>
          <p class="cardAFooter">
            {{data.footer}}
            <br>{{data.footerDate}}
          </p>
        </div>
      </div>
    </div>
    <div *ngIf="data.title">
      <div class="card cardBStyle">
        <div class="container">
          <h4 class="cardBTitleStyle">
            <i class="material-icons">&#xe2c7;</i>
            {{data.title}}
          </h4>
          <p class="cardBFooterStyle">
            {{calculatefooter(data)}}
          </p>
        </div>
      </div>
    </div>
  </a>
</div>

<div>
  <ul>
    <ng-template #recursiveList let-list>
      <li *ngFor="let items of list">
        {{items.name}} {{items.type}}
        <ul *ngIf="items.childs.length > 0">
          <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: items.childs }"></ng-container>
        </ul>
      </li>
    </ng-template>
    <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: cardData[2].childs }"></ng-container>
  </ul> 
</div>

