<div class="rightbody">
  <div class="container">
    <h3>
      Models
    </h3>
    <div class="row">
      <div class="columnA">
        <div class="inputWithIcon">
          <input type="text" style="margin-top: 25px; border: none; background-color: gray; color: white ; height: 10px" placeholder="Search Models">
          <i class="fa fa-search" style="padding-top: 20px;"></i>
        </div>
      </div>
      <div class="columnA">
        <!-->
        <app-dropdown></app-dropdown>

        <select name="showall">
          <option value="showall">
            Show All
          </option>
          <option value="value1">
            Value1
          </option>
          <option value="value1">
            Value2
          </option>
          <option value="value1">
            Value3
          </option>

        </select>
        <-->
          <div class="dropdown">
            <div style="margin-left: 33px; color: white; font-size: 10px">
              GOAL
            </div>
            <button class="dropbtn">Show All
              <i class="i" style="margin-left: 15px;"></i>
            </button>
            <div class="dropdown-content" style="margin-left: 30px;">
              <a href="#">Link 1</a>
              <a href="#">Link 2</a>
              <a href="#">Link 3</a>
            </div>
          </div>
      </div>
      <div class="columnA">
        <!-->
        <select name="recent">
          <option value="">
            Most Recent
          </option>
          <option value="value1">
            Value1
          </option>
          <option value="value1">
            Value2
          </option>
          <option value="value1">
            Value3
          </option>
        </select>
        <-->
          <div class="dropdown">
            <div style="margin-left: 33px; color: white; font-size: 10px">
              SORT BY
            </div>
            <button class="dropbtn">Most Recent
              <i class="i" style="margin-left: 15px;"></i>
            </button>
            <div class="dropdown-content" style="margin-left: 30px">
              <a href="#">Link 1</a>
              <a href="#">Link 2</a>
              <a href="#">Link 3</a>
            </div>
          </div>
      </div>
      <div class="row" style="padding-top:25px;">
        <!-->
        <input type="text" size="120" style="margin-top: 50px; padding: 15px; background-color: grey">
        <-->
          <div class="box">
            <h6 class="mytext" style="padding-top: 8px">
              My Models > [Model for projectX]
            </h6>
            <div class="mytext" style="float:right; ">
              <span *ngIf="itemSelected>0" style="margin-right: 25px;">
                {{itemSelected}} Selected
              </span>
              <span>
                <i class="material-icons" style="margin-top:5px;">&#xe2c7;</i>
              </span>
              <span *ngIf="itemSelected==0">
                &nbsp;&nbsp;
                <a href="#" class="dropbtn1">Create New Model</a>
              </span>
              <span *ngIf="itemSelected>0">
                &nbsp;&nbsp;
                <!-->
                <a href="#" class="dropbtn1">Actions </a>
                <-->
                  <div class="dropdown">
                    <button class="boxdropbtn" style="background-color: aqua; text-align: center;">Actions
                      <i class="i" style="margin-left: 15px; color: white;"></i>
                    </button>
                    <div class="dropdown-content" style="margin-left: 30px">
                      <a (click)="showConfirm()">Move to...</a>
                      <a href="#">Deselect All</a>
                    </div>
                  </div>
              </span>
              <!-->
              <span *ngIf="itemSelected > 0">
                &nbsp;&nbsp; *ngIf="itemitemSelected == 0"
                <a href="#" class="dropbtn1">Actions</a>
              </span>
              <-->
            </div>
          </div>
      </div>
      <div class="row" style="padding-top: 5px;margin-left: 1px;">
        <div class="columnC">
          <a href="#">
            <div class="card">
              <b>
                <input type="checkbox" (click)="myfunct();" name="mycheck" style="margin-left: 5px;">
              </b>

              <b>
                <div class="dropdown" style="float: right; color: white; margin-top: 4px;">
                  <a>
                    <i class="fa fa-ellipsis-v" style="float: right; color: white;"></i>
                  </a>
                  <div class="dropdown-content">
                    <a href="#">Move To</a>
                    <a href="#">Rename</a>
                    <a href="#">Remove</a>
                  </div>
                </div>
              </b>
              <div class="container">
                <h5 style="float: right; color: white; padding-top: 60px;">
                  <span>
                    89.43%
                  </span>
                  <span>
                    <br>Accuracy
                  </span>
                </h5>
                <h5 style="color: white">

                  <span>
                    <!-- <i class="fa fa-check" aria-hidden="true"></i><-->
                    projectX Model 1
                  </span>
                  <!-->
                  <span>
                    <i class="fa fa-ellipsis-v"></i>
                  </span>
                  <-->
                    <br> InterValues
                </h5>
                <p style="color: grey">
                  Last Modified
                  <br>April 8, 2018
                </p>
              </div>
            </div>
          </a>
        </div>
        <div class="columnC">
          <a href="#">
            <div class="card">
              <b>
                <input type="checkbox" (click)="myfunct()" style="margin-left: 5px;" name="mycheck">           
              </b>
              <b>
                <div class="dropdown" style="float: right; color: white; margin-top: 4px;">
                  <a>
                    <i class="fa fa-ellipsis-v" style="float: right; color: white;"></i>
                  </a>
                  <div class="dropdown-content">

                    <a href="#">Move To</a>
                    <a href="#">Rename</a>
                    <a href="#">Remove</a>
                  </div>
                </div>
              </b>
              <div class="container">
                <h5 style="float: right; color: white; padding-top: 60px;">
                  <span>
                    89.43%
                  </span>
                  <span>
                    <br>Accuracy
                  </span>
                </h5>
                <h5 style="color: white">

                  <span>
                    <!-- <i class="fa fa-check" aria-hidden="true"></i><-->
                    projectX Model 2
                  </span>
                  <!-->
                  <span>
                    <i class="fa fa-ellipsis-v"></i>
                  </span>
                  <-->
                    <br> InterValues
                </h5>
                <p style="color: grey">
                  Last Modified
                  <br>April 8, 2018
                </p>
              </div>
            </div>
          </a>
        </div>
        <div class="columnC">
          <a href="#">
            <div class="card" style="display: inline-block; padding-top: 2px;">
              <div class="container">
                <h4 style="color: white; ">
                  <i class="material-icons">&#xe2c7;</i>
                  Folder 1
                </h4>
                <p style="color: white; padding-top: 66px;">
                  3 Models 1 Folders
                </p>
              </div>
            </div>
          </a>
        </div>
        <div class="columnC">
          <a href="#">
            <div class="card" style=" padding-top: 2px;">
              <div class="container">
                <h4 style="color: white">
                  <i class="material-icons">&#xe2c7;</i>
                  Folder 2
                </h4>
                <p style="color: white; padding-top: 66px;">
                  1 Models
                </p>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>