.rightbody{
    background-color: #372354;
    height: 680px;
}

@media only screen and (min-width: 768px) {
    /* tablets and desktop */
    .columnC{
        width: 25% !important;
    }
}



@media only screen and (min-width: 794px){
    .rightbody{  
        height: 1000px;
    }
    .columnC{
        width: 50% !important;
    }
}

@media only screen and (min-width: 1224px){
    .rightbody{
        
        height: 1000px;
    }
    .columnC{
        width: 30% !important;
    }
}

@media only screen and (min-width: 1300px){
    .rightbody{
        
       
    }
    .columnC{
        width: 25% !important;
    }
}

@media only screen and (max-width: 767px) {
    /* phones */
    .rightbody{
        height: 1000px;
    }
    .container{
        width: 100%;
    }
    .columnA{
        width: 100% !important;
    }
    .columnC{
        width: 100% !important;
    }
}

@media only screen and (max-width: 767px) and (orientation: portrait){
    .container{
        width: 100%;
    }
    .columnA{
        width: 100% !important;
    }
    .columnC{
        width: 100% !important;
    }
}
/*@media only screen and (max-width: 600px){
    .rightbody{
        width: 100%;
        height: 1020px !important;
    }
    .container{
        width: 100%;
    }
    .box{
        width: 100% !important;
    }
    .row{
        width: 100%;
    }
    .columnA{
        width: 85% !important;
    }
    .dropbtn{
        margin-top: 25px !important;
    }
    .dropdown{
        margin-top: 15px;
    }
    .columnC{
        width: 100% !important;
    }
}
@media only screen and (min-width: 600px){
    .rightbody{
        width: 100%;   
    }
    .container{
        width: 100%;
    }
    .box{
        width: 100% !important;
    }
    .row{
        width: 100%;
    }
    .columnA{
        width: 25% !important;
        
    }
    .dropbtn{
        margin-top: 25px !important;
    }
    .dropdown{
        margin-top: 15px;
    }
    .columnC{
        width: 25% !important;
    }
}

@media only screen and (min-width: 768px){
    .rightbody{
        
    }
}*/
/*@media only screen and (max-width: 411px){
    .columnC{
        width: 100% !important;
        margin-left: 30px !important;
    }
    .card{
        width: 250px !important;
    }
}

@media only screen and (max-width: 375px){
    .rightbody{
        width: 100%;
    }
    .columnC{
        width: 100% !important;
        margin-left: 2px !important;
    }
    .card{
        width: 250px !important;
        margin-right: 250px !important;
    }
}
@media only screen and (max-width: 320px){
    .rightbody{
        width: 100%;
    }
    .columnC{
        width: 80% !important;
    }
    .card{
        width: 250px !important;
    }
}

@media only screen and (min-width: 360px){
    .columnC{
        width: 80% !important;
        margin-right: 60px !important;
    }
    .card{
        width: 250px !important;
        margin-right: 60px !important;
    }
}

@media only screen and (min-width: 414px){
    .columnC{
        width: 80% !important;
        margin-left: 25px !important;
    }
    .card{
        width: 250px !important;
        margin-left: 2px !important;
        padding-left: 2px !important;
    }
}

@media only screen and (max-width: 768px){
    .rightbody{
        width: 100%;
        height: 1050px !important;
    }
    .container{
        width: 100%;
    }
    .box{
        width: 100% !important;
    }
    .row{
        width: 100%;
    }
    .columnA{
        width: 100% !important;
    }
    .dropbtn{
        margin-top: 25px !important;
    }
    .columnC{
        width: 100% !important;
        margin-left: 200px !important;
    }
    
}

@media only screen and (max-width: 1024px){
    .rightbody{
        width: 100%;
        height: 1000px !important;
    }
    .container{
        width: 100%;
    }
    .box{
        width: 90% !important;
    }
    .row{
        width: 100%;
    }
    .columnA{
        width: 100% !important;
    }
    .dropbtn{
        margin-top: 25px !important;
    }
    .dropdown{
        margin-top: 15px;
    }
    .columnC{
        width: 100% !important;
        margin-left: 200px !important;
    }
}*/

h3{
    color: white;
}
.row{
    clear: both; 
}

.columnA{
    width: 20%;
    float: left;  
    
}

a:link {
    text-decoration: none;
}

a:hover{
  background-color: #0c0319;  
}

.columnB{
    width: 80%;
    float: left;
    
}

.columnC{
    width: 250px;
    display: inline-block;
}

.container{
    padding: 5px;
    padding-right: 15px;
    margin-bottom: 15px;
    
}

.dropbtn {
    background-color: #372354;
    color: white;
    padding: 3px;
    font-size: 16px;
    border: none;
    margin-left: 30px;
    border-bottom: 2px solid gray;
}

.dropbtn1 {
    background-color: aqua;
    color: white;
    font-size: 16px;
    border: none;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    margin-right: 5px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: rgb(78, 12, 12)}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #372354;
}


.card {
    width: 257px;
    height: 135px;
    background-color: rgb(93, 74, 105);
    padding-right: 10px;
    margin-top:15px;
}

.box{
    background-color: grey;
    height: 50px;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 45px;
}

.mytext{
    color: white;
    margin-top: 1px;
    padding-left: 15px;
    float: left;
}

select {
    background: transparent;
    padding: 0;
    border: none;
    color: white;
    padding: 3px;
    font-size: 16px;
    margin-left: 30px;
    margin-top: 25px;
}

option {
    color: black;
}

input[type=text]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 1px;
    box-sizing: border-box;
}

.inputWithIcon{
    position:relative;
}
  
.inputWithIcon i{
    position:absolute;
    left:0;
    top:8px;
    padding:16px 10px;
    margin-left: 185px;
    color:#aaa;
    transition:.3s;
}

.i{
    border: solid olive;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

