<div class="rightbody">
  <div class="container">
    <h3>
      Models
    </h3>
    <div class="row">
      <div class="columnA">
        <input type="text" size="25" style="background-color: gray">
      </div>
      <div class="columnA">
        <div class="dropdown">
          <a class="dropbtn" href="#">Show All</a>
          <div class="dropdown-content">
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
          </div>
        </div>
      </div>
      <div class="columnA">
        <div class="dropdown">
          <a class="dropbtn" href="#">Most Recent</a>
          <div class="dropdown-content">
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row" style="padding-top:15px;">
      <!-->
      <input type="text" size="120" style="margin-top: 50px; padding: 15px; background-color: grey">
      <-->
        <div class="box">
          <h4 class="mytext">
            My Models > [Model for projectX]
          </h4>
          <div class="mytext" style="float:right">
            <button class="dropbtn1">Actions</button>
          </div>
        </div>
    </div>
    <div class="row" style="margin-top: 25px;">
      <div class="columnA">
        <a href="#">
          <div class="card">
            <div class="container">
              <h4 style="color: white">
                projectX Model 1
              </h4>
              <h6 style="color: white">
                Inter Values
              </h6>
              <p style="color: grey">
                Last Modified
              </p>
              <p style="color: grey">
                April 8, 2018
              </p>
            </div>
          </div>
        </a>
      </div>
      <div class="columnA">
        <a href="#">
          <div class="card">
            <div class="container">
              <h4 style="color: white">
                projectX Model 2
              </h4>
              <h6 style="color: white">
                Inter Values
              </h6>
              <p style="color: grey">
                Last Modified
              </p>
              <p style="color: grey">
                April 8, 2018
              </p>
            </div>
          </div>
        </a>
      </div>
      <div class="columnA">
        <a href="#">
          <div class="card">
            <div class="container">
              <h4 style="color: white">
                Folder 1
              </h4>
              <p style="color: white; padding-top: 75px;">
                3 Models 1 Folders
              </p>
            </div>
          </div>
        </a>
      </div>
      <div class="columnA">
        <a href="#">
          <div class="card">
            <div class="container">
              <h4 style="color: white">
                Folder 2
              </h4>
              <p style="color: white; padding-top: 75px;">
                3 Models 1 Folders
              </p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>