.rightbody{
    background-color: #372354;
    height: 480px;
    
}

@media only screen and (min-width: 768px) {
    /* tablets and desktop */
    .columnC{
        width: 100% !important;
    }
}



@media only screen and (min-width: 794px){
    .rightbody{  
        height: 1000px;
    }
    .columnC{
        width: 100% !important;
    }
}

@media only screen and (min-width: 1224px){
    .rightbody{
        height: 1000px;
    }
    .columnC{
        width: 100% !important;
    }
}

@media only screen and (min-width: 1300px){
    .rightbody{   
       height: 680px;
    }
    .columnC{
        width: 100% !important;
    }
}


@media only screen and (max-width: 767px) {
    /* phones */
    .rightbody{
        height: 1000px;
    }
    .container{
        width: 100%;
    }
    .columnA{
        width: 100% !important;
    }
    .columnC{
        width: 100% !important;
    }
    .inputStyle{
        width: 80% !important;
    }
}

@media only screen and (max-width: 767px) and (orientation: portrait){
    .container{
        width: 100%;
    }
    .columnA{
        width: 100% !important;
    }
    .columnC{
        width: 100% !important;
    }
    
}

h3{
    color: white;
}
.row{
    clear: both; 
    padding-top:25px;
}

.columnA{
    width: 20%;
    float: left;  
}

b{
    opacity: 0.0;
}

b i{
    opacity: 0.0;
}

a:hover b{
    opacity: 1;
}
a:hover b i {
    opacity: 1;
}
a:hover .card{
    border: 1px solid rgb(139, 131, 8);
}
a:link {
    text-decoration: none;    
}



.columnB{
    width: 80%;
    float: left;
    
}

.columnC{
    width: 250px;
    display: inline-block;
}

.container{
    padding-top: 2px;
    padding-left: 5px;
}

.container .span{
    padding-top: 1px;
}



.dropbtn {
    background-color: #372354;
    color: white;
    padding: 3px;
    font-size: 16px;
    border: none;
    margin-left: 30px;
    border-bottom: 2px solid gray;
}

.dropbtn1 {
    background-color: aqua;
    color: white;
    font-size: 16px;
    border: none;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    margin-right: 5px;
    margin-top: 15px;
    padding: 8px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}


.dropdown-content a {
    color: black;
    padding: 1px 1px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: rgb(197, 166, 166)}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #372354;
}


.card {
    width: 257px;
    height: 155px;
    background-color: rgb(93, 74, 105);
    padding-right: 10px;
    margin-top:15px;
}



.box{
    background-color: grey;
    height: 50px;
    width: 98.5%;
    padding-top: 5px;
    padding-bottom: 45px;
}

.boxtext{
    color: white;
    margin-top: 1px;
    padding-left: 15px;
    float: left;
    
}

.boxtextbutton{
    float:right;
}

.boxtextStyle{
    padding-top: 8px !important;
}

.boxtextselectedItem{
    
    margin-right: 25px;
}

.createfoldericon{
    margin-top:5px;
}

.actionbutton{
    background-color: aqua; 
    text-align: center;
}

.actionbuttonicon{
    margin-left: 15px; 
    color: white;
}

select {
    background: transparent;
    padding: 0;
    border: none;
    color: white;
    padding: 3px;
    font-size: 16px;
    margin-left: 30px;
    margin-top: 25px;
}

option {
    color: black;
}

input[type=text]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 1px;
    box-sizing: border-box;
}

.inputStyle{
    margin-top: 22px !important; 
    border: none;
    background-color: gray; 
    color: white ; 
    height: 10px
}

.inputWithIcon{
    position:relative;
}
  
.inputWithIcon i{
    position:absolute;
    left:0;
    top:8px;
    padding:16px 10px;
    margin-left: 185px;
    color:#aaa;
    transition:.3s;
    padding-top: 18px;
}

.i{
    border: solid olive;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.dropdownStyle{
    margin-left: 33px; 
    color: white; 
    font-size: 10px;
}

.dropdownIcon{
    margin-left: 15px !important;
}

.dropdownContentStyle{
    margin-left: 30px;
}

.boxdropbtn {
    background-color: aqua;
    color: white;
    font-size: 16px;
    border: none;
    margin-right: 15px;
    padding: 6px;
}

.cardrow{
    padding-top: 5px;
    margin-left: 0px;
}

.material-icons{
    font-size: 18px;
}

i{
    cursor: pointer;
}

a{
    cursor: pointer;
}

input[type="checkbox"] .card{
    border: 3px solid gold;
}