<!--The content below is only a placeholder and can be replaced.-->

<head>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<div class="row">
  <div class="columnA">
    <app-sidebar></app-sidebar>
  </div>
  <div class="columnB">
    <app-rightbody></app-rightbody>
  </div>
</div>