.sidebar{    
    background-color: #170633;
}


.heading{
    color: yellow;
    text-align: center;
    padding: 20px;
}

.container {
    padding: 20px;
    height: 663px;
}

.main {
    float:left;
    width:70%;
    padding:0 20px;
    text-align: center;
    padding: 5px;
    margin-left: 25px;
    margin-top: 3px;
    color: white;
}

a:link {
    text-decoration: none;
}

a:hover{
  background-color: #0c0319;  
}

.footer{
    padding-top: 450px;
    text-align: center;
    float: bottom;
    color: white;
}

.footerlinks{
    color: white;
    padding-right: 25px;
}

