.sidebar{    
    background-color: #170633;
    height: 680px;
}

@media only screen and (max-width: 600px){
    .sidebar{
        height: 1020px !important;
    }
    .heading{
        color: white !important;
        padding: 1px !important;
        font-size: 10px !important;
    }
    .main{
        padding: 8px !important;
        font-size: 10px !important;
    }
    a{
        padding: 15px !important;
        font-size: 10px !important;
    }
    p{
        padding: 15px !important;
        font-size: 10px !important;
    }
}

@media only screen and (max-width: 320px){
    .heading{
        color: white !important;
        padding: 1px !important;
        font-size: 8px !important;
    }
    .main{
        padding: 8px !important;
        font-size: 5px !important;
    }
    a{
        padding: 1px !important;
        font-size: 5px !important;
    }
    p{
        padding: 1px !important;
        font-size: 8px !important;
        text-align: center !important;
    }
    .footer{
        padding-top: 850px !important;
    }
}

@media only screen and (max-width: 768px){
    .sidebar{
        height: 1050px !important;
    }
    .heading{
        color: yellow !important;
        padding: 8px !important;
        font-size: 8px !important;
    }
    .main{
        padding: 2px !important;
        font-size: 8px !important;
    }
    a{
        padding: 2px !important;
        font-size: 8px !important;
    }
    p{
        padding: 2px !important;
        font-size: 8px !important;
        text-align: center !important;
    }
    .footer{
        padding-top: 850px !important;
    }
}

@media only screen and (max-width: 1024px){
    .sidebar{
        height: 1000px !important;
    }
    .footer{
        padding-top: 750px !important; 
    }
}

.heading{
    color: yellow;
    text-align: center;
    padding: 20px;
}

.container {
    padding: 5px;
    height: 663px;
}

.main {
    float:left;
    width:98%;
    padding: 10px;
    margin-left: 2px;
    margin-top: 1px;
    color: white;
}

a:link {
    text-decoration: none;
}

a{
    border-left:4px solid transparent;
}

a:hover{
  background-color: #0c0319; 
  border-left:4px solid gold;  
}

a:hover .columnA{
    background-color: gold;
}

.footer{
    padding-top: 430px;
    text-align: center;
    float: bottom;
    color: white;
}

.footerTopborder{
    margin-left: 15px;
    margin-right: 15px; 
    border-top: 1px solid gray;
}

.footerlinks{
    color: white;
    padding-right: 25px;
}

