.sidebar{    
    background-color: #170633;
    height: 680px;
}

.heading{
    color: yellow;
    text-align: center;
    padding: 20px;
}

.container {
    padding: 5px;
    height: 663px;
}

.main {
    float:left;
    width:98%;
    padding: 10px;
    margin-left: 2px;
    margin-top: 1px;
    color: white;
}

a:link {
    text-decoration: none;
}

a{
    border-left:4px solid transparent;
}

a:hover{
  background-color: #0c0319; 
  border-left:4px solid gold;  
}

a:hover .columnA{
    background-color: gold;
}

.footer{
    padding-top: 430px;
    text-align: center;
    float: bottom;
    color: white;
}

.footerlinks{
    color: white;
    padding-right: 25px;
}

