<div class="sidebar">
  <div class="container">
    <h3 class="heading">
      DARWIN
    </h3>
    <div>
      <a href="#" class="main">
        Models
      </a>
    </div>
    <div>
      <a href="#" class="main">
        Settings
      </a>
    </div>
    <div class="footer">
      Chung Yu Ho
      <div>
        <a href="#" class="footerlinks">
          Admin
        </a>
      </div>
      <div>
        <a href="#" class="footerlinks" style="color: yellow">
          Logout
        </a>
      </div>
    </div>
  </div>
</div>