<div class="sidebar">
  <div class="container">
    <h3 class="heading">
      DARWIN
    </h3>
    <div>
      <a href="#" class="main">
        Models
      </a>
    </div>
    <div>
      <a href="#" class="main">
        Settings
      </a>
    </div>
    <div class="footer">
      <p style="margin-left: 15px;margin-right: 15px; border-top: 1px solid gray">
        Chung Yu Ho
      </p>
      <div>
        <a href="#" class="footerlinks">
          Admin
        </a>
      </div>
      <div>
        <a href="#" class="footerlinks" style="color: yellow;">
          Logout
        </a>
      </div>
    </div>
  </div>
</div>