<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<div class="modal-dialog">
  <div class="modal-content" style="margin-top: 150px">
    <div class="modal-header" style="background-color: gray">
      <span>
        <h4 class="modal-title" style="text-align: center;color: white;">Move x Components to...
          <a class="close" style="margin-left: 350px;color: white; " (click)="close()">&times;</a>
        </h4>
      </span>
    </div>
    <div class="modal-body">
      <div class="container">
        <!-->
        <div *ngFor="let name of folders" style="color: white">
          <a href="#">
            &nbsp;&nbsp;
            <i class="material-icons" style="color: white; font-size: 12px;">&#xe2c7;</i>{{name.name}}
            <br>
          </a>

        </div>
        <-->
      
        <ng-template #recursiveList let-list>
            <ul style="color: white">
              <li *ngFor="let items of list">
                <i class="fa fa-plus-square" style="font-size: 12px; float: left; padding-top: 5px; padding-right: 15px"></i>
                <i class="material-icons" style="color: white; font-size: 12px; padding-right: 5px">&#xe2c7;</i>{{items.name}}
                <div *ngIf="items.childs.length > 0">
                  <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: items.childs}"></ng-container>
                </div>
              </li>
            </ul>
        </ng-template>
        <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: folders }"></ng-container>
 
        <!-->
          <div *ngFor="let folder of folders">
            <span *ngIf="folder.folder" style="color: white">
              <a href="#">
                <i class="material-icons" style="color: white; font-size: 12px;">&#xe2c7;</i>{{folder.folder}}
              </a>
            </span>
            <div *ngFor="let subfolders of folder.subfolders" style="color: white">
              <span *ngIf="subfolders.subfolder">
                <a href="#">
                  &nbsp;&nbsp;
                  <i class="fa fa-plus-square" style="font-size: 12px;"></i>{{subfolders.subfolder}}
                  <br>
                </a>
              </span>
              <div *ngFor="let child of subfolders.child">
                <span *ngIf="child.name">
                  <a href="#">
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <i class="fa fa-plus-square" style="font-size: 12px;"></i>{{child.name}}
                    <br>
                  </a>
                </span>
              </div>
            </div>
            <-->
        <!-->
              <div *ngFor="let subfolders of folder.subfolders" style="color: white">
                <span *ngIf="subfolders.subfolder">
                  <a href="#">
                    &nbsp;&nbsp;
                    <i class="fa fa-plus-square" style="font-size: 12px;"></i>{{subfolders.subfolder}}
                    <br>
                  </a>
                </span>
              </div>
              <-->

      </div>
    </div>
    <div class="modal-footer">
      <button class="cancelbutton" (click)="close()">Cancel</button>
      <button class="movebutton" (click)="confirm()">Move</button>
    </div>
  </div>
</div>

  <!-->
  <div class="modal-dialog">
    <div class="modal-content" style="margin-top: 150px;">
      <div class="modal-header">
        <button type="button" class="close" (click)="close()">&times;</button>
        <h4 class="modal-title">{{title || 'Confirm'}}</h4>
      </div>
      <div class="modal-body">
        <p>gg</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="confirm()">OK</button>
        <button type="button" class="btn btn-default" (click)="close()">Cancel</button>
      </div>
    </div>
  </div>
  <-->