<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<div class="modal-dialog">
  <div class="modal-content" style="margin-top: 150px">
    <div class="modal-header" style="background-color: gray">
      <span>
        <h4 class="modal-title" style="text-align: center;color: white;">Move x Components to...
          <a class="close" style="margin-left: 350px;color: white; " (click)="close()">&times;</a>
        </h4>
      </span>
    </div>
    <div class="modal-body">
      <div class="container">
        <ng-template #recursiveList let-list>
          <ul style="color: white">
            <li *ngFor="let items of list">
              <span tabindex="1">
                <i *ngIf="items.childs.length>0 && !items.visible" class="fa fa-plus-square" (click)="clickIcon(items)" style="font-size: 12px; float: left; padding-top: 5px; padding-right: 15px"></i>
                <i *ngIf="!items.childs.length>0 || items.visible" class="fa fa-minus-square" (click)="clickIcon(items)" style="font-size: 12px; float: left; padding-top: 5px; padding-right: 15px"></i>
                <img *ngIf="items.childs.length>0 && !items.visible" src="../../assets/images/closedfolder.svg" width="15" height="10">
                <img *ngIf="!items.childs.length>0 || items.visible" src="../../assets/images/openedfolder.svg" width="15" height="10" tabindex="1"> 
                {{items.name}}
              </span>
              <div *ngIf="items.childs.length > 0 && items.visible">
                <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: items.childs}"></ng-container>
              </div>
            </li>
          </ul>
        </ng-template>
        <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: folders }"></ng-container>
      </div>
    </div>
    <div class="modal-footer">
      <button class="cancelbutton" (click)="close()">Cancel</button>
      <button class="movebutton" (click)="confirm()">Move</button>
    </div>
  </div>
</div>