
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <span>
          <h4 class="modal-title" style="text-align: center;color: white;">Move X Components to
              <a class="close" style="margin-left: 350px;color: white;"(click)="close()">&times;</a>
          </h4>
          
          <!--><button type="button" style="margin-top: 1px;" class="close" (click)="close()">&times;</button><-->
      </span>
    </div>
    <div class="modal-body" style="text-align: center">
      <p>fhqlfhqwf</p>
    </div>
    <div class="modal-footer">
      <button  class="cancelbutton" (click)="close()">Cancel</button>
      <button class="movebutton" (click)="confirm()">Move</button>
    </div>
  </div>
</div>