.modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
    height: 450px;
    
}
 
.modal.in .modal-dialog {
    -webkit-transform: translate(0,0);
    -ms-transform: translate(0,0);
    -o-transform: translate(0,0);
    transform: translate(0,0);
}
 
.modal.fade .modal-dialog {
    -webkit-transition: -webkit-transform .3s ease-out;
    -o-transition: -o-transform .3s ease-out;
    transition: transform .3s ease-out;
    -webkit-transform: translate(0,-25%);
    -ms-transform: translate(0,-25%);
    -o-transform: translate(0,-25%);
    transform: translate(0,-25%);
}
 
@media (min-width: 768px) {
    .modal-dialog {
        width: 600px;
        margin: 30px auto;
    }
}

.modalcontentStyle{
    margin-top: 120px;
}

.modalheaderStyle{
    background-color: gray;
}

.modaltitleStyle{
    text-align: center;
    color: white;
}

a{
    margin-left: 350px;
    color: white;
}

.iconStyle{
    font-size: 12px; 
    padding-top: 5px; 
    padding-right: 15px
}

.folderimageStyle{
    width:15px; 
    height:10px;
}

.cancelbutton{
    background-color: darkslateblue;
    color: black;
    width: 120px;
    padding: 5px;
    border: none;
    margin-left: 350px;
    margin-bottom: 5px;
    margin-top: 10px;
}

.movebutton{
    background-color: rgba(12, 243, 12, 0.712);
    color: black;
    width: 120px;
    padding: 5px;
    border: none;
    margin-left: 5px;
    margin-top: 15px;
}

.headercontainer{
    background-color: gray;
    width: 100%;
    height: 25px;
}

.container{
    background-color: gray;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 15px;
    width: 550px;
    height: 350px;
}



ul{
    list-style-type: none;
}

li{
    cursor: pointer;
}

a{
    cursor: pointer;
    text-decoration: none;
}


li:focus ul li{
    background-color:gray;
    padding-right: 20px;
}





/* li:hover{
    background-color: rgb(124, 153, 125);
} */

.span{
    display: block;
    width:100%;
    padding-left: 10px;
}

li:focus{
    outline: none;
}

span:focus{
    outline: none;
    width: 80%;
}

span:hover{
    background-color: rgb(67, 79, 92);
    width: 95%;
}

.active{
    background-color: lightslategray;
    width: 95%;
}