<div class="modal-dialog">
  <div class="modal-content modalcontentStyle" >
    <div class="modal-header modalheaderStyle">
      <span>
        <h4>Create New Folder
            <a class="close" (click)="close()">&times;</a>
        </h4>
      </span>
    </div>
    <div class="modal-body">
      <div class="container">
        <div class="textStyle">
          <span>
            Folder Name
          </span>
          <br>
          <span>
            <input type="text" class="textfieldStyle" size="25">
          </span>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="cancelbutton" (click)="close()">Cancel</button>
      <button class="createbutton" (click)="confirm()">Create</button>
    </div>
  </div>
</div>